---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logo from "../assets/opentronika.png";
import "primeicons/primeicons.css";
import MainApp from "../components/MainApp.vue";
import About from "../components/About.astro";
import NoScript from "../components/NoScript.astro";
---

<Layout title="LCD editor pro.">
	<header
		class="py-3 flex justify-between bg-slate-200 h-14 sticky w-full top-0 z-20 dark:bg-slate-800 dark:text-white"
	>
		<div class="w-auto z-30">
			<a href="https://opentronika.org/" class="flex ">
				<Image src={logo} alt="logo" class="h-10 w-auto mx-3" />
				<div class="text-2xl">Opentronika</div>
			</a>
		</div>
		<div class="flex w-full justify-center absolute">
			<a>
				<div class="text-3xl">LCD Editor Pro</div>
			</a>
		</div>
		<div class="flex z-30">
			<button class="m-2" id="updateTheme">
				<i class="pi pi-sun dark:pi-moon"></i>
			</button>
			<button class="m-2" id="showInfo">
				<i class="pi pi-info-circle"></i>
			</button>
		</div>
	</header>
	<main class="relative">
		<MainApp client:load />
		<section
			class="fixed z-10 top-0 right-0 bottom-0 hidden h-screen"
			id="info"
		>
			<About />
		</section>
		<noscript class=" fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-30">
			<NoScript/>
		</noscript>
	</main>
</Layout>

<script is:inline>
	const handleUpdateTheme = () => {
		if (
			localStorage.theme === "dark" ||
			(!("theme" in localStorage) &&
				window.matchMedia("(prefers-color-scheme: dark)").matches)
		) {
			document.documentElement.classList.remove("dark");
			localStorage.theme = "light";
		} else {
			document.documentElement.classList.add("dark");
			localStorage.theme = "dark";
		}
	};

	document
		.getElementById("updateTheme")
		.addEventListener("click", handleUpdateTheme);

	document.getElementById("showInfo").addEventListener("click", () => {
		if (document.getElementById("info").classList.contains("hidden")) {
			document.getElementById("info").classList.remove("hidden");
		} else {
			document.getElementById("info").classList.add("hidden");
		}
	});
</script>
